.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.sqlite
data/*.sqlite
*.parquet
01_Data/
*.rds
*.RData
.DS_Store
*.csv
.venv/
03_Outputs/.DS_Store
03_Outputs/Strategy
.RDataTmp
02_Scripts/.DS_Store
03_Outputs/.DS_Store
Rplots.pdf
**/README_files/
02_Scripts/**/README.html
